.modal-container {
  background: #b3b3b3;
  width: 100%;
  height: 100%;
  text-align: center;

  h1 {
    padding-top: 18px;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
  }

  .buttons {
    margin-top: 35px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
  }
}
