<form class="global-search__form">
  <mat-form-field class="global-search__wrapper">
    <input
      class="global-search__input"
      matInput
      [matAutocomplete]="auto"
      aria-label="Solutions"
      placeholder="Search a product"
      [formControl]="searchControl"
    />

    <mat-autocomplete
      #auto="matAutocomplete"
      class="global-search__autocomplete"
    >
      <mat-option
        (click)="redirect(product.id)"
        *ngFor="let product of products$ | async"
        [value]="product.name"
        class="global-search__option"
      >
        <span>{{ product.name }}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
