<article class="product-card">
  <h2 [routerLink]="['/shop', product.id]" class="product-card__title">
    {{ product.name | shortPipe }}
  </h2>

  <ng-container *ngIf="quantityButtons">
    <div class="price-container">
      <h3 appColorPrice [price]="product.price" class="product-card__price">
        {{ product.price * product.quantity | hryvniaPipe }}
      </h3>
      <p class="product-card__quantity">
        <button (click)="subtractQuantity(product.id)">-</button>
        {{ product.quantity }}
        <button (click)="addQuantity(product.id)">+</button>
      </p>
    </div>
  </ng-container>

  <ng-container *ngIf="!quantityButtons">
    <h3 appColorPrice [price]="product.price" class="product-card__price">
      {{ product.price | hryvniaPipe }}
    </h3>
  </ng-container>

  <app-button
    (click)="handleCart(product, buttonName)"
    [buttonName]="buttonName"
  >
  </app-button>
</article>
