.product-card {
  height: 271px;
  width: 402px;
  border-radius: 15px;
  background-color: #c9d1d9;
  padding-left: 34px;
  padding-right: 30px;

  .product-card__title {
    cursor: pointer;
    padding-top: 37px;
    font-weight: 400;
    font-size: 36px;
  }
  .price-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    .product-card__quantity {
      font-size: 30px;
      font-weight: 400;
    }

    button {
      cursor: pointer;
    }
  }

  .product-card__price {
    margin-top: 25px;
    font-size: 30px;
    font-weight: 400;
  }
}
