.container {
  width: 100%;
  margin-top: 180px;
  margin-bottom: 205px;
  text-align: center;

  .title {
    font-weight: 400;
    font-size: 128px;
    line-height: 155px;
  }

  & p {
    margin-bottom: 66px;
  }
}
