<div class="table">
  <div class="table-wrapper">

    <div class="filters-wrapper">
      <input class="search" placeholder="Search...">
      <div class="filters">
        <select class="select">
          <option value="">--Please choose an option--</option>
          <option value="dog">Dog</option>
          <option value="cat">Cat</option>
          <option value="hamster">Hamster</option>
        </select>
        <input class="date" placeholder="10/10/2010">
        <button class="apply-btn btn">Apply</button>
      </div>
    </div>

    <div class="header">
      <div class="header__item">
        <label for="selectID">ID:</label>
        <select class="selectID">
          <option value=""></option>
          <option value="dog">Dog</option>
          <option value="cat">Cat</option>
          <option value="hamster">Hamster</option>
        </select>
      </div>
      <div class="header__item">
        <label for="selectName">Name:</label>
        <select class="selectName">
          <option value=""></option>
          <option value="dog">Dog</option>
          <option value="cat">Cat</option>
          <option value="hamster">Hamster</option>
        </select>
      </div>
      <div class="header__item">
        <label for="selectCreated">Created:</label>
        <select class="selectCreated">
          <option value=""></option>
          <option value="dog">Dog</option>
          <option value="cat">Cat</option>
          <option value="hamster">Hamster</option>
        </select>
      </div>
      <button class="add-btn btn"></button>
    </div>

    <div class="table-row-wrapper">
      <ng-container *ngFor="let product of products">
        <div class="table-row">
          <p class="table-row__item">{{product.id}}</p>
          <p class="table-row__item">{{product.name}}</p>
          <p class="table-row__item">10/10/2010</p>
          <div class="table-row__buttons">
            <button class="add-btn btn">+</button>
            <button class="add-btn btn">-</button>
          </div>
        </div>
      </ng-container>
    </div>



  </div>

</div>