.table {
  width: 1508px;
  height: 871px;
  display: block;
  background: #543838;
  margin-left: 52px;

  .table-wrapper {
    padding: 20px 30px 10px 30px;
  }

  .filters-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .filters {
    display: flex;
    gap: 30px;
  }

  .table-header {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }

  .table-row {
    height: 87px;
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
  }
}
