.table {
  width: 1508px;
  background: rgb(98, 106, 109);
  margin-left: 52px;

  .table-wrapper {
    padding: 20px 30px 10px 30px;
    height: 89vh;
    overflow: hidden;
  }

  .filters-wrapper {
    display: flex;
    justify-content: space-between;

    .filters {
      display: flex;
      gap: 30px;
      align-items: center;
    }

    .search,
    .select,
    .date {
      width: 480px;
      height: 60px;
      border-radius: 5px;
      font-size: 32px;
      line-height: 39px;
    }

    .select {
      width: 271px;
    }

    .date {
      width: 233px;
    }

    .apply-btn {
      width: 155px;
    }
  }

  .header {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 28px;
    line-height: 39px;
  }

  .add-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #d9d9d9;
  }

  .table-row-wrapper {
    margin-top: 27px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 470px;
    overflow-y: scroll;
  }

  .table-row {
    flex-shrink: 0;
    height: 87px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    border-radius: 5px;

    .table-row__item {
      width: 150px;
    }

    .table-row__buttons {
      display: flex;
      gap: 16px;
    }
  }

  .footer {
    margin-top: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
  }

  .footer__item {
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    gap: 16px;
  }

  .footer__arrows {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    padding-right: 38px;

    .arrow-link {
      display: block;
    }
  }
}
