<div class="table">
  <div class="table-wrapper">
    <div class="filters-wrapper">
      <app-search></app-search>
      <app-price-filter></app-price-filter>
    </div>

    <div class="header">
      <div class="header__item">
        <p class="sortID">ID</p>
      </div>
      <div (click)="sortByName()" class="header__item">
        <p class="sortName">Name</p>
        <img
          *ngIf="isNameAscending"
          class="arrow-up"
          src="/assets/img/sort-down.png"
          alt="arrow"
        />
        <img
          *ngIf="!isNameAscending"
          class="arrow-down"
          src="/assets/img/sort-up.png"
          alt="arrow"
        />
      </div>
      <div (click)="sortByPrice()" class="header__item">
        <p class="sortPrice">Products</p>
        <img
          *ngIf="isPriceAscending"
          class="arrow-up"
          src="/assets/img/sort-down.png"
          alt="arrow"
        />
        <img
          *ngIf="!isPriceAscending"
          class="arrow-down"
          src="/assets/img/sort-up.png"
          alt="arrow"
        />
      </div>
      <img (click)="add()" class="add-btn" src="../../../assets/img/add.png" />
    </div>

    <div class="table-row-wrapper">
      <app-spinner *ngIf="loading$ | async"></app-spinner>
      <ng-container *ngFor="let order of currentPageOrders">
        <ul class="table-row">
          <li class="table-row__item">{{ order.id }}</li>
          <li class="table-row__item">{{ order.name }}</li>
          <li class="table-row__item orders">
            <ul *ngFor="let item of order.products">
              <li class="table-row__orders">
                <h4>Prod:</h4>
                {{ item.name }}
                <h4>Q:</h4>
                {{ item.quantity }}
              </li>
            </ul>
          </li>

          <div class="table-row__buttons">
            <img
              (click)="editProduct(order.id)"
              class="edit-btn"
              src="../../../assets/img/edit.png"
            />
            <img
              (click)="deleteProduct(order.id, order.name)"
              class="delete-btn"
              src="../../../assets/img/trash.png"
            />
          </div>
        </ul>
      </ng-container>
    </div>

    <div class="footer">
      <div class="footer__item">
        <p class="footer__page">{{ currentPage }}/{{ totalPages }}</p>
      </div>
      <div class="footer__arrows">
        <a (click)="prevPage()" class="arrow-link">
          <img class="arrow-left" src="/assets/img/page-left.png" alt="arrow" />
        </a>
        <a (click)="nextPage()" class="arrow-link">
          <img
            class="arrow-right"
            src="/assets/img/page-right.png"
            alt="arrow"
          />
        </a>
      </div>
    </div>
  </div>
</div>
