<header class="header">
  <nav class="header__nav">
    <ul class="header__list">
      <li class="header__item">
        <img class="main-logo">
      </li>
      <li class="header__item">
        <a class="header__item-link" routerLink="/products">Products</a>
      </li>
      <li class="header__item">
        <a (mouseenter)="isHidden = !isHidden" class="header__item-link" routerLink="/products/cart">Cart</a>
        <app-tooltip *ngIf="isHidden"></app-tooltip>
      </li>
    </ul>
  </nav>
</header>