@import "../../../../../scss/main-colors.scss";

.activeProducts,
.activeUsers,
.activeLog {
  background-color: $product-button-bg;
  border-radius: 10px;
}

.sidebar {
  width: 306px;
  height: 100vh;
  background-color: $header-bg;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;

  .logo {
    padding-left: 58px;
    padding-bottom: 25px;
  }

  .main-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $main-logo-bg;
  }

  .link-list {
    padding-top: 28px;
    display: flex;
    flex-direction: column;
  }

  .link {
    display: block;
    width: 306px;
    height: 67px;
    padding-left: 58px;
    padding-top: 10px;

    &:hover,
    &:active {
      background-color: $product-button-bg-hover;
      border-radius: 10px;
    }
  }
  .logout {
    cursor: pointer;
  }

  .link,
  .shop-link {
    color: $main-text-color;
  }

  .shop-link {
    margin-left: 58px;
    margin-bottom: 50px;
  }
}
