@import "../../../../../scss/main-colors.scss";

.container {
  margin: 0 auto;
  max-width: 1920px;
  background-color: $body-bg;
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: $main-text-color;
}
