@import "../../../../../scss/main-colors.scss";

.container {
  width: 585px;
  height: 428px;
  background: #8fbcef;
  z-index: 100;
  border-radius: 20px;
  position: relative;
}

.products-list {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 485px;
  height: 300px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
}

.product__atributes {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  button {
    cursor: pointer;
  }
}

.product__title,
.product__quantity,
.product__price,
.btn,
.products__total {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.btn {
  width: 177px;
  height: 50px;
}

.products__total {
  position: absolute;
  top: 365px;
  left: 310px;
}
