@import "../../../../../scss/main-colors.scss";

.header {
  height: 101px;
  background-color: $header-bg;
  padding: 0px 98px 0px 97px;
}

.header__list {
  padding-top: 25px;
  display: flex;
  gap: 10px;

  .header__item-link {
    color: $main-text-color;
    padding: 23px 20px 30px 20px;
    border-radius: 10px;

    &:hover,
    &:active {
      background-color: $product-button-bg-hover;
      border-radius: 10px;
    }
  }
  .main-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $main-logo-bg;
    cursor: pointer;
  }
}

.activeProducts,
.activeCart {
  background-color: $product-button-bg;
}
