<div class="modal-container">
  <h1>Edit Product</h1>

  <form class="modal-form">
    <label>Name</label>
    <input class="form__input" class="name-input" type="text" placeholder="Name" />
    <br>
    <label>Price</label>
    <input class="form__input" class="price-input" type="number" placeholder="Price" />
    <br>
    <label>Description</label>
    <input class="form__input" class="description-input" placeholder="Description" />
    <br>
  </form>
  <button class="send-btn btn">Send</button>

</div>