<section class="sidebar">
  <ul class="link-list">
    <li class="logo"><img class="main-logo" /></li>
    <li>
      <a
        class="link"
        routerLink="/administration/users"
        routerLinkActive="activeUsers"
        >Users</a
      >
    </li>
    <li>
      <a
        class="link"
        routerLink="/administration/products"
        routerLinkActive="activeProducts"
        >Products</a
      >
    </li>
    <li>
      <a class="link logout" (click)="logout()" routerLinkActive="activeLog"
        >Log out</a
      >
    </li>
  </ul>
  <a class="shop-link" routerLink="/shop"
    >Shop
    <img src="/assets/img/arrow-right.svg" alt="arrow" />
  </a>
</section>
