<router-outlet></router-outlet>

<div class="container">

  <header class="header">
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__item">
          <img class="main-logo">
        </li>
        <li class="header__item">
          <a class="header__item-link" href="#">Products</a>
        </li>
        <li class="header__item">
          <a class="header__item-link" href="#">Cart</a>
        </li>
      </ul>
    </nav>
  </header>

  <section class="section-products">
    <h1 class="main-title">Products</h1>

    <div class="product-cards">

      <article *ngFor="let val of products" class="product-card">
        <h2 class="product-card__title">{{val.name}}</h2>
        <h3 class="product-card__price">{{val.price | currency}}</h3>
        <button class="product-card__button btn">Add to cart</button>
      </article>

    </div>

    <button class="section-products__button btn">Load more</button>
    <br>
    <a class="section-products__link" href="#">
      Admin
    </a>

  </section>

</div>