<router-outlet></router-outlet>

<header class="header">
  <nav class="header__nav">
    <ul class="header__list">
      <li class="header__item">
        <img class="header__logo">
      </li>
      <li class="header__item">
        <a class="header__item-link" href="#">Products</a>
      </li>
      <li class="header__item">
        <a class="header__item-link" href="#">Cart</a>
      </li>
    </ul>
  </nav>
</header>

<section class="section-product">
  <h1 class="main-title">Products</h1>


</section>