@import "../../../../../scss/main-colors.scss";

.container {
  width: 100%;
  margin-top: 28px;
  margin-bottom: 205px;
  padding: 0px 98px 0px 97px;

  .title {
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
  }

  & p {
    margin-top: 43px;
    margin-bottom: 66px;
  }
}
.products-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
}
.link {
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    color: $header-bg;
  }
}
