<ng-container *ngIf="cartService.cartTotal$ | async">
  <div class="container">
    <h1 class="title">Cart</h1>
    <p>Total: {{ cartService.cartTotal$ | async | hryvniaPipe }}</p>
    <div class="products-cards">
      <app-product-card
        [quantityButtons]="true"
        *ngFor="let item of cartService.cartList$ | async"
        [product]="item"
        [cartButtonName]="cartButtonName"
      >
      </app-product-card>
      <br />
    </div>
  </div>
</ng-container>

<ng-container *ngIf="!(cartService.cartTotal$ | async)">
  <div class="container">
    <h1 class="title">Cart</h1>
    <p>Total: {{ cartService.cartTotal$ | async | hryvniaPipe }}</p>
    <div class="products-cards">
      <div>
        <h1 class="title">Your Cart is Empty</h1>
        <br />
        <h1 class="title">
          Go to All
          <span class="link" routerLink="/shop">Products</span>
          ?;)
        </h1>
      </div>
    </div>
  </div>
</ng-container>
