<div class="container">
  <article class="article">
    <h1 class="title">Login</h1>
    <form>
      <label for="username"></label>
      <input class="input" id="username" type="text" placeholder="Username" />
      <label for="password"></label>
      <input
        class="input"
        id="password"
        type="password"
        placeholder="Password"
      />
    </form>
    <button class="send-btn btn">Send</button>
  </article>

  <a class="shop-link" routerLink="/products" (click)="foo()"
    >Shop
    <img src="/assets/img/arrow-right.svg" alt="arrow" />
  </a>
</div>
