.container {
  margin: auto;
  margin-top: 250px;
  width: 570px;
  height: 375px;
  border-radius: 20px;
  background-color: aquamarine;

  .title {
    padding-top: 29px;
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
  }

  form {
    text-align: center;
  }

  .input {
    width: 510px;
    height: 51px;
    font-size: 30px;
    margin-top: 30px;
    border-radius: 5px;
  }

  .send-btn {
    margin: auto;
    display: block;
    margin-top: 30px;
  }
}
